<connectionStrings>
  <!--dqwdw-->
  <clear />
  <add name="ShopProjectConnection" connectionString="data source=.\SQLEXPRESS;initial catalog=ShopProjectConnection;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>